@import "tailwindcss";
@layer utilities{
  .bg-projects-gradient{
    background: radial-gradient(94.82% 94.82% at 50% 33.2%, rgba(250, 204, 21, 0.02) 0%, rgba(255, 255, 255, 0.00) 100%), linear-gradient(180deg, rgba(254, 254, 254, 0.20) 0%, rgba(248, 248, 248, 0.20) 100%), #FEFEFE;
  }
}
:root {
  /* color */
  --c-bg: #f5f5f0;
  --c-btn-bg: white;
  --c-btn-text: #fff;
  --c-sub-head: #666;
  --c-h1: #221f1c;
  --c-h2: #121212;
  --c-nav-bg: rgba(255, 255, 255, 0.6);
  --c-hero-text-bg: #f5f5f0cc;
  --c-hero-p: #1c1c1c;
  --c-project-bg: #eff0ed;
  --c-p: #404040;
  /* font sizes */
  --fs-hero-h1: 128px;
  --fs-hero-p: 16px;
  --fs-head: 64px;
  --fs-links: 16px;
  --fs-h1: 64px;
  --fs-h2: 48px;
  --fs-h3:24px;
  --fs-p: 20px;
  --fs-sub-head: 16px;

  /* line heights */
  --lh-h1: 110%;
  --lh-p: 140%;
  --lh-h2:110%;
  /* --lh-p2: 135%; */

  /* letter spacing */
  --ls-h1: 0.01em;
  --ls-h2: -0.02em;
  --ls-p: 0.012em;
  --ls-link: 0.01em;
}

body {
  zoom: 100%;
  font-family: var(--font-poppins);
  background-color: var(--c-bg);
}

.logo-text {
  font-family: var(--font-playfair-display);
}

section {
  margin-bottom: 96px;
}

.hero {
  background-image: url("/images/hero.png");
  background-size: cover;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero > * {
  position: relative;
  z-index: 2;
}

.hero-head {
  background: var(--c-hero-text-bg);
}

.hero-text,
.hero-btn {
  background: var(--c-hero-text-bg);
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
}

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
